


body.page-template-template-nosotros {
  background-color: #242425;
}

body.page-template-template-nosotros .wp-block-group.alignwide {
  margin-left: auto;
  margin-right: auto;
  min-width: 960px;
  width: 80%;
}

[class*="__inner-container"] > .alignwide {
  margin:0 auto 0;
  min-width: 960px;
  width: 80%;
}

.page-template-template-nosotros .wp-block-group .alignwide, .page-template-template-nosotros .wp-block-columns.alignwide {
  min-width: 960px;
  width: 80%;
}

.page-template-template-nosotros .wp-block-group__inner-container .wp-block-group.alignwide .wp-block-columns.alignwide {
  width: 100%;
}

.page-template-template-nosotros .entry-content .wp-block-group.alignwide.has-background, .page-template-template-nosotros .entry-content .wp-block-group.alignfull.has-background {
  padding:0;
}

.page-template-template-nosotros .wp-block-columns.alignfull, .alignfull:not(.has-background) .wp-block-columns, .page-template-template-nosotros .wp-block-columns.alignwide {
  padding-left: 0;
  padding-right: 0;
}



.page-template-template-nosotros .post-inner {
  padding-top: 0;
}

.page-template-template-nosotros .entry-content > .alignfull:first-child {
  margin-bottom: 0;
}

.page-template-template-nosotros .wp-block-group, .page-template-template-nosotros .wp-block-columns {
  margin-top: 0;
  margin-bottom: 0;
}

.block-gray-1 {
  background-color: #242425;
}

.block-purple {
  background-color: #7682f3;
}
.block-gray-1, .block-gray-2, .block-purple, .block-hazte-parte {
  color: #fff;
  margin-top: 0;
}

.space-bottom {
  padding-bottom: 4.8rem !important;
}

.entry-content h1, .entry-content h2, .entry-content h3, .entry-content h4 {
  font-family: "DINNext_LT", sans-serif;
  text-transform: uppercase;
}

.page-template-template-nosotros .entry-content h3 {
    font-size: 2.4rem;
}

.entry-content h3 {
  padding-top: 60px;
  margin-bottom: 0;
  margin-top: 0;
}

.entry-content h3:before {
  content: "";
  height: 12px;
  width: 130px;
  display: block;
  background-color: #7682f3;
  margin-bottom: 15px;
}

.entry-content .block-purple h3:before {
  background-color: #000;
}

.entry-content .wp-block-columns h4 {
  font-size: 1.2em;
  margin-top: 2.4rem;
  margin-bottom: 0;
}

.page-template-template-nosotros .entry-content .wp-block-columns h4 {
    font-size: 1.6rem;
}

.entry-content p, .wp-block-button__link {
  font-family: "Libre Franklin", sans-serif;
  margin-bottom: 0;
}

.page-template-template-nosotros .entry-content p {
    font-size: 1.2rem;
}

.block-purple .wp-block-column {
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}

.block-purple p strong {
  font-weight: normal;
  color: #000;
}

.page-template-template-nosotros .linea-editorial .wp-block-column:not(:first-child) {
    margin-left: 150px;
}

.page-template-template-nosotros .linea-editorial .wp-block-column p:before {
  width: 20px;
  height: 6px;
  margin-bottom: 0.3rem;
  background-color: #404fc9;
  content: "";
  display: block;
}

.page-template-template-nosotros .linea-editorial {
  padding-bottom: 1.8rem !important;
}

.page-template-template-nosotros .entry-content .nosotros-charts p {
  font-size: 1rem;
}

.page-template-template-nosotros .entry-content .nosotros-charts p em {
  font-size: 1.8rem;
  font-style: inherit;
  font-family: "DINNext_LT", sans-serif;
}

.nosotros-charts p em:first-child {
  color: #7682f3;
}

.nosotros-charts .chart-info .chart-col-1, .nosotros-charts .chart-info .chart-col-2, .nosotros-charts .chart-info p {
  width: 100% !important;
  margin-bottom: 0 !important;
}

.nosotros-charts .chart-info {
  min-height: 70px;
}

.page-template-template-nosotros .chart-button {
  position: relative;
  padding-top: 1px;
  padding-bottom: 6rem;
}

.page-template-template-nosotros .chart-button .wp-block-button {
  position: absolute;
  top: -10.5rem;
  left: 0;
  text-align: center;
  width: 100%;
}

.page-template-template-nosotros .chart-button .wp-block-button__link {
  background-color: #7682f3 !important;
  color: #fff !important;
  padding: 1.1rem 0.5rem;
}

.page-template-template-nosotros .chart-button .wp-block-button__link:hover {
  background-color: #4050c9 !important;
}

.page-template-template-nosotros .chart-button .wp-block-button a {
  border-radius: 0;
  font-size: 1.2rem;
}

.nosotros-charts .wp-block-columns:not(.alignwide):not(.alignfull) {
  margin-top: 0 !important;
  margin-bottom: 1rem;
  padding-left: 0;
  padding-right: 0;
}

.nosotros-charts .wp-block-column:not(:first-child) {
  margin-left: 15px;
}

.nosotros-charts .wp-block-columns p:before{
  content: "";
  display: inline-block;
  width: 19px;
  height: 14px;
  margin-right: 8px;
  background-color: #fff;
  vertical-align: middle;
  margin-right: 15px;
}

.nosotros-charts .chart-col-1 .wp-block-column:nth-child(1) p:before {
  background-color: #cbcbcb;
}

.nosotros-charts .chart-col-1 .wp-block-column:nth-child(2) p:before {
  background-color: #b1b8ff;
}

.nosotros-charts .chart-col-1 .wp-block-column:nth-child(3) p:before {
  background-color: #fff;
}

.nosotros-charts .chart-col-2 .wp-block-column:nth-child(1) p:before {
  background-color: #434fc2;
}

.nosotros-charts .chart-col-2 .wp-block-column:nth-child(2) p:before {
  background-color: #7682f3;
}

.nosotros-charts .wp-block-image {
  margin-left: auto;
  margin-right: auto;
}

.block-gray-1.border-bottom {
  border-bottom: 1px solid #393939 !important;
}

.page-template-template-nosotros .entry-content .wp-block-group.block-hazte-parte.alignfull.has-background {
  padding-top: 9rem;
  padding-bottom: 6rem;
}

.entry-content .block-hazte-parte h3 {
  padding-top: 0;
}

.entry-content .block-hazte-parte h3:before {
  display: none;
}

.wp-block-buttons {
  text-align: center;
}

.entry-content .block-hazte-parte p strong {
  font-family: "DINNext_LT", sans-serif;
  color: #4050c9 !important;
}

.wp-block-button__link {
  background-color: #7682f3;
  text-transform: capitalize;
  font-size: 2rem;
  line-height: 1;
}

.block-hazte-parte {
  background-image: url('../../img/nosotros/nosotros_hazte_parte.jpg');
  background-size: cover;
  background-position: center;
}

.block-hazte-parte .wp-block-button__link {
  font-weight: bold;
  padding: 0.5rem 5.5rem;
  border-radius: 0;
  font-size: 1.6rem;
  background-color: #7682f3 !important;
  color: #fff;
}

.block-hazte-parte .wp-block-button__link:hover {
  background-color: #4050c9 !important;
}

.block-hazte-parte .wp-block-buttons {
  margin-top: 1rem;
}

.wp-block-button .wp-block-button__link:hover {
  text-decoration: none;
  background-color: #434fc2;
}

/* Team Slider customization */

.team-swiper-carousel {
  margin-top:1.8rem;
}

.team-swiper-carousel .swiper-slide img {
  width: 100%;
  height: auto;
}

.page-template-template-nosotros .team-swiper-carousel .member-bio p {
  font-size: 1rem;
}

.next-container, .prev-container {
    display: block;
}

.team-carousel .prev-container {
    left: -60px;
    margin-right: 0;
}

.team-carousel .next-container {
    right: -60px;
    margin-left: 0;
}

.team-swiper-carousel .team-carousel-wrapper {
    width: 100% !important;
    max-width: 100% !important;
}

.swiper-slide  {
    font-family: 'Libre Franklin', Verdana, Arial, sans-serif;
    font-size: 18px;
}

.slider-caption .member-name, .member-bio span {
    font-family: DINNext_LT, Verdana, Arial, sans-serif;
    font-size: 24px;
}

.team-swiper-carousel .swiper-pagination {
  position: absolute;
  margin: 30px auto 0;
  bottom: -45px;
}

/* ALIANZAS SLIDERS */

.entry-content .slideshow-content li {
  list-style: none;
  font-family: 'Libre Franklin', Verdana, Arial, sans-serif;
  color: #7682f3;
  font-size: 1.2rem;
}

.entry-content .slideshow-content li:before {
  background-color: #7682f3;
  border-radius: 100%;
  margin-right: 15px;
  content: "";
  width: 4px;
  height: 4px;
  display: inline-block;
  margin-bottom: 3px;
}

.page-template-template-nosotros .oculto {
  display:none;
}